In [1]:
# Import Dependencies and setup
import pandas as pd

In [2]:
# read csv output from Instagrapy_split_text.ipynb
df=pd.read_csv("../../resources/New_sentiment_IG_Category_jc_2021-08-26.csv", encoding="ISO 8859-1")
df.head(2)

,Unnamed: 0,Sentence ID,Dialogue ID,author,Category,shortcode,timestamp,likes,comments,caption,text,Hash_tag2,clean_txt,token_txt,tokenized,neg,neu,pos,compound
0,0,0,0,shmee150,Automotive,CSzoxcyrzj2,8/20/2021 18:48,19080,49,"Photo shared by Tim - Shmee on August 20, 2021...",Back at the wheel of an SF90! With @bannedauto...,"[['Ferrari'], ['SF90'], ['futureshmeemobile'],...",['Back at the wheel of an SF90 With bannedauto...,['Back at the wheel of an SF90 With bannedauto...,"[""['Back"", 'at', 'the', 'wheel', 'of', 'an', '...",0.027,0.801,0.172,0.9379
1,1,1,1,shmee150,Automotive,CSr2jQPjy59,8/17/2021 18:14,22143,100,"Photo shared by Tim - Shmee on August 17, 2021...",It's a P1 kinda day! Out for a drive in @super...,"[['McLaren'], ['P1'], ['McLarenP1'], ['testdri...",['Its a P1 kinda day Out for a drive in superc...,['Its a P1 kinda day Out for a drive in superc...,"[""['Its"", 'a', 'P1', 'kinda', 'day', 'Out', 'f...",0.000,0.934,0.066,0.6351

In [7]:
# Extract selected columns to a new dataframe with key 
new_df = df.filter(['author','Category','likes', 'comments', 'neg','neu','pos', 'compound'], axis=1)
new_df.head()

     author    Category  likes  comments    neg    neu    pos  compound
0  shmee150  Automotive  19080        49  0.027  0.801  0.172    0.9379
1  shmee150  Automotive  22143       100  0.000  0.934  0.066    0.6351
2  shmee150  Automotive  21606       130  0.040  0.772  0.188    0.8315
3  shmee150  Automotive  30069       113  0.000  0.846  0.154    0.7964
4  shmee150  Automotive  34073       140  0.000  0.978  0.022    0.1386

In [6]:
# Rename columns
new_df.rename(columns = {'author':'Author', 'likes':'Likes', 
                                     'comments':'Comments', 'neg':'Neg', 
                                     'pos':'Pos', 'compound':'Compound'}, inplace = True)

new_df = new_df.reset_index(drop=True)
new_df.head()

     Author    Category  Likes  Comments    Neg    neu    Pos  Compound
0  shmee150  Automotive  19080        49  0.027  0.801  0.172    0.9379
1  shmee150  Automotive  22143       100  0.000  0.934  0.066    0.6351
2  shmee150  Automotive  21606       130  0.040  0.772  0.188    0.8315
3  shmee150  Automotive  30069       113  0.000  0.846  0.154    0.7964
4  shmee150  Automotive  34073       140  0.000  0.978  0.022    0.1386

In [ ]:
new_df.to_csv("../../resources/ig_likes_comments_sentiment_jc_2021-08-26")